<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      .logout {
        padding: 9px 10px;
        background-color: red;
        color: white;
        border-radius: 3px;
      }
      .content {
        text-align: center;
      }
      .completed {
        background: rgb(105, 163, 205);
        color: #fff;
      }
      .done {
        text-decoration: line-through;
      }
      a {
        color: white;
      }
      a:hover,
      a:active {
        text-decoration: none;
        color: white;
      }
      p {
        margin: 0;
      }
      li > a,
      li > a:hover,
      li > a:active {
        color: black;
      }
      .dp {
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <ul class="nav justify-content-between p-2 bg-light">
      <li class="nav-item">
        <a class="navbar-brand" href="#">
          <img
            src="<%= user.photos[0].value %>"
            width="35"
            height="35"
            class="dp align-top"
            alt=""
          />
          <%= user.displayName %>
        </a>
      </li>
      <li class="nav-item m-2">
        <a class="logout" href="/logout">Logout</a>
      </li>
    </ul>

    <div class="container mt-5 p-0">
      <form action="/todos" method="POST" class="form-group d-flex">
        <input
          type="text"
          name="todo"
          placeholder="enter your todo here"
          class="form-control mr-1"
        />
        <input type="submit" class="btn btn-primary" value="Add" />
      </form>
    </div>
    <div class="container mt-3 p-0">
      <ul class="list-group">
        <% todos.forEach(todo=>{ %> <% if(todo.status !== 'completed'){ %>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <div class="content">
              <p><%= todo.todo %></p>
            </div>
            <div class="btn-group">
              <button class="btn btn-primary mr-1">
                <a href="todos/done/<%= todo._id %>">Done</a>
              </button>
              <button class="btn btn-danger">
                <a href="todos/delete/<%= todo._id %>">Delete</a>
              </button>
            </div>
          </div>
        </li>
        <% }else{ %>
        <li class="list-group-item completed">
          <div class="d-flex justify-content-between">
            <div class="content done">
              <p><%= todo.todo %></p>
            </div>
            <div>
              <button class="btn btn-danger">
                <a href="todos/delete/<%= todo._id %>">Delete</a>
              </button>
            </div>
          </div>
        </li>
        <% } %> <% }) %>
      </ul>
    </div>
  </body>
</html>
